body {
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-image: url(https://s7d9.scene7.com/is/image/zumiez/pdp_hero/Vans-Authentic-Black-and-White-Skate-Shoes-_108346.jpg);
  background-size: 100px 100px;
}

#game {
  height: 600px;
  background: grey;
  border: 2px solid black;
}

#directions {
  text-align: center;
  border: 2px dashed DeepPink;
  background: pink;
  padding: 12px;
  margin: 12px;
}

#content {
  margin: 0 auto;
  width: 800px;

}

.rainbow {

  text-align: center;
  
  /* Font options */
 text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
 font-size: 40px;
 
  /* Chrome, Safari, Opera */
 -webkit-animation: rainbow 3s infinite; 
 
 /* Internet Explorer */
 -ms-animation: rainbow 3s infinite;
 
 /* Standar Syntax */
 animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
 0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
 0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 40%{color: yellow;}
 60%{color: green;}
 100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
 0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 40%{color: yellow;}
 60%{color: green;}
 100%{color: orange;}
}
