extends ../node_modules/webpack-boiler/template.pug
 
block page_content
  div#content
    h1.rainbow LEE: The Game
    canvas#game
    div#directions
      strong Directions
      p Use the arrow keys dummy
